.moda th{
    background-color: #BB86FC;
    color: #fff;
}

.moda td{
    background-color: #424250;
    color: #fff;
}

.casa th{
    background-color: #00C4B4;
    color: #fff;
}

.casa td{
    background-color: #424250;
    color: #fff;
}