.cabecalho-moda{
    background-color: #BB86FC;
    color: #fff;
    padding: 500px;
}

.cabecalho-casa{
    background-color: #00C4B4;
    color: #fff;
}

table td{
    background-color: #424250;
    color: #fff;
}